.is-parent {
  padding: .25rem !important;
}

.skills1 {
  background: #e37222 !important;
}

.skills2 {
  background: #e37222 !important;
}

.tile.is-vertical>.tile.is-child:not(:last-child) {
  margin-bottom: 0 !important;
}

.picture-tile {
  background: #222934;
}

.projects-container {
  background: #07889b;
}

.contact-container {
  background: #07889b;
}

.about-container {
  background: #66b9bf;
}

.title {
  text-decoration: underline;
  color: #f4f4f4 !important;
}

.subtitle {
  color: #f4f4f4 !important;
}

.contact-info {
  font-size: 1.25rem;
  color: #f4f4f4 !important;
}

.name {
  text-decoration: none;
  color: #f4f4f4 !important;
}

article {
  border-radius: 0 !important;
}

.modal-content {
  width: 100% !important;
}

.skill-item {
  font-size: 1.25rem;
  color: #f4f4f4;
}

.quote {
  font-size: 1.25rem;
}

.aboutme-container {
  color: #f4f4f4;
  font-size: 1.25rem;
}

.skills-container {
  /*background: #07889b;*/
  background: #e37222 !important;
  padding-bottom: 0 !important;
}

div {
  border-radius: 0 !important;
}

body {
  height: 100vh;
}

.is-ancestor {
  height: 100vh !important;
  margin: 0 !important;
}

.project-parent {
  height: 100vh !important;
}

.image-container {
  max-width: 40%;
  min-width: 40%;
  margin: 5%;
  margin-top: 0;
  float: left;
  background: white;
  height: 300px;
  visibility: hidden;
}

img {
  height: 300px;
}

.quote-tile {
  background: #eeaa7b;
}

.quote {
  color: #f4f4f4;
}

#jokebook-content {
  visibility: hidden;
  height: 300px;
}

#muzica-content {
  visibility: hidden;
  height: 300px;
}

#whatsup-content {
  visibility: hidden;
  height: 300px;
}

#tanks-content {
  visibility: hidden;
  height: 300px;
}

#pixelart-content {
  visibility: hidden;
  height: 300px;
}

.project-detail-container {
  width: 80%;
  margin: auto;
}

.close-button {
  margin-right: 2%;
  margin-top: 2%;
  float: right;
  width: inherit !important..;
}

.notification {
  padding: 1.25rem 1.25rem 1.25rem 1.5rem !important;
}

.description {
  margin-left: 0 !important;
}

#about-content {
  display: none;
  visibility: hidden;
}

#skills-content {
  display: none;
  margin: auto;
}

#contact-content {
  display: none;
  margin: auto;
}

#contact-title {
  margin: auto;
}

#contact-info {
  visibility: hidden;
}

#about-title {
  margin: auto;
  min-width: fit-content;
}

#skills-title {
  margin: auto;
}

.skill-item {
  display: none;
  visibility: hidden;
}

html {
  background: bisque;
}

.skills-stuff {
  margin: auto;
}

.about-stuff {
  margin: auto;
}

.contact-stuff {
  margin: auto;
}

h4 {
  margin-top: 0 !important;
}
